### IP2
### Gabriel Migliore

In [1]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in d:\documents\anaconda\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in d:\documents\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\documents\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in d:\documents\anaconda\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in d:\documents\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

1. Attach File to Dataset

In [4]:
df=pd.read_csv("weather_2012.csv")

2. Print First 5 Data Cells, Last 5, Random 5

In [5]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [6]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [8]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
3670,2012-06-01 22:00:00,19.6,6.5,42,20,25.0,100.77,Cloudy
443,2012-01-19 11:00:00,-11.0,-16.9,62,26,48.3,101.56,Mostly Cloudy
170,2012-01-08 02:00:00,-1.7,-6.2,71,30,25.0,100.98,Mostly Cloudy
1390,2012-02-27 22:00:00,-7.1,-9.6,82,0,8.0,101.33,Snow
3502,2012-05-25 22:00:00,21.5,18.1,81,11,25.0,100.88,Mainly Clear

3. List of all columns

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

4. Add underscores in replacement of spaces

In [14]:
df.columns=[column.replace(" ","_") for column in df.columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp_(C)            8784 non-null   float64
 2   Dew_Point_Temp_(C)  8784 non-null   float64
 3   Rel_Hum_(%)         8784 non-null   int64
 4   Wind_Spd_(km/h)     8784 non-null   int64
 5   Visibility_(km)     8784 non-null   float64
 6   Stn_Press_(kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [28]:
df=df.rename(columns={'Temp_(C)' : 'temp_c'})
df=df.rename(columns={'Dew_Point_Temp_(C)' : 'dew_point'})
df=df.rename(columns={'Rel_Hum_(%)' : 'relative_himidity'})
df=df.rename(columns={'Wind_Spd_(km/h)' : 'wind_speed'})
df=df.rename(columns={'Visibility_(km)' : 'visibility'})
df=df.rename(columns={'Stn_Press_(kPa)' : 'pressure'})
df=df.rename(columns={'Weather' : 'weather'})

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_himidity  8784 non-null   int64
 4   wind_speed         8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

5. Get Standard Statistics for each column

In [33]:
df.temp_c.mean()

9.3

In [35]:
df.temp_c.median()

9.3

In [38]:
df.dew_point.mean()

2.555293715847001

In [39]:
df.dew_point.median()

3.3

In [42]:
df.visibility.mean()

27.66444672131151

In [44]:
df.visibility.median()

25.0

In [45]:
df.pressure.mean()

101.05162340619295

In [46]:
df.pressure.median()

101.07

6. Write the Code to turn temp_c into temp_f

In [49]:
df.insert(8, "temp_f", (df.temp_c * 9/5) + 32)

7. Put temp_f immediately before temp_c

In [52]:
column_names=["date_time","temp_f","temp_c","dew_point","relative_himidity",
             "wind_speed","visibility","pressure","weather"]
df = df.reindex(columns=column_names)

df.info()

8. Write code to display data types of all columns

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_himidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

9. Turn date_time into a date/time Dtype

In [61]:
df['date_time']=pd.to_datetime(df['date_time'])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_himidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

10. Get count weather designations and get 10 ten weather categories

In [63]:
df['weather'].nunique()

50

In [65]:
df['weather'].value_counts()[:10]

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

11. Which month of the year, the temp_f more than 90, humidy less than 50, dew point more than 17, and the weather is clear? Extract and add to new data frame.

In [84]:
df2=(df.loc[(df['temp_f'] > 90) & (df['relative_himidity'] < 50) & (df['dew_point'] > 17) & (df['weather'] == "Clear")])

In [85]:
df2

,date_time,temp_f,temp_c,dew_point,relative_himidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

12. Extract month information from previous problem and create new column named dt.month

In [88]:
df2['dt.month'] = pd.DatetimeIndex(df2['date_time']).month

C:\Users\gabem\AppData\Local\Temp/ipykernel_28572/3742940477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['dt.month'] = pd.DatetimeIndex(df2['date_time']).month

In [89]:
df2

,date_time,temp_f,temp_c,dew_point,relative_himidity,wind_speed,visibility,pressure,weather,dt.month
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear,8
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear,8
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear,8